body {
	background: #8A2BE2 !important;
}
.post {
	margin-bottom: 25px;
	margin-top: 25px;
}
.navbar {
	background-color: #DCDCDC;
}
.navbar > .item {
	color:#fff !important;
	float: right;
	padding: 10px;
}