body {
	background-image: url('https://images2.alphacoders.com/607/607471.jpg'); 
	background-attachment:fixed;

}
.post {
	margin-bottom: 25px;
	margin-top: 25px;
}
.nav {
	width: 100%;
	margin-top: -25px;
	position: fixed;
	border-radius: none !important; 
	background-color: #FFF0F5;
}
.nav > .item {
	color:#fff !important;
	float: right;
	padding: 10px;
}
pre {
	border-radius: 6px;
	border: 1px solid #DEB887;
	background: #FFF8DC;
	font-family: Monospace;
	padding: 10px;
}