body {
	background-image: url('https://images2.alphacoders.com/607/607471.jpg'); 
	background-attachment:fixed;

}
.post {
	margin-bottom: 25px;
	margin-top: 25px;
}
.navbar {
	background-color: #FFF0F5;
}
.navbar > .item {
	color:#fff !important;
	float: right;
	padding: 10px;
}
